# Django
DEBUG=True
SECRET_KEY=key
ALLOWED_HOSTS_DEV=*
ALLOWED_HOSTS_DEPLOY=http://localhost:8000

# CSRF
CSRF_TRUSTED_ORIGINS_DEV=http://localhost:8000,http://localhost:8080,http://localhost:8081,http://localhost:3000
CSRF_TRUSTED_ORIGINS_DEPLOY=http://beta.forperu.com,https://www.beta.forperu.com,http://hs.forperu.com,https://hs.forperu.com,http://sige.forperu.com,https://sige.forperu.com

# CORS
CORS_ORIGIN_WHITELIST_DEV=http://localhost:8000,http://localhost:8080,http://localhost:8081,http://localhost:3000
CORS_ORIGIN_WHITELIST_DEPLOY=http://beta.forperu.com,https://www.beta.forperu.com,http://hs.forperu.com,https://hs.forperu.com,http://sige.forperu.com,https://sige.forperu.com
CORS_ALLOW_CREDENTIALS=True

# Database
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_NAME=db_name
MYSQL_PORT=port
MYSQL_ROOT_PASSWORD=root
MYSQL_ALLOW_EMPTY_PASSWORD=no
MYSQL_RANDOM_ROOT_PASSWORD=no

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

ACTIVE_CAMPAIGN_URL='123'
ACTIVE_CAMPAIGN_KEY='123'
STRIPE_SECRET_KEY='123'

ENVIRONMENT=development